body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #c3cfe2;
}

.man-div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: darkblue;
}

img {
  background-image: url("image.jpg");
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: 500ms ease-in;
}

img:hover {
  opacity: 0.5;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.main:hover .middle {
  opacity: 2;
}

h1 {
  margin: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  padding: 40px;
  grid-gap: 20px;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
